<!DOCTYPE html>
<html ng-app>
  <head>
    <meta charset="utf-8">
    <title>Angular Playground</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  </head>
  <body>
    <a href="indexvanjs.html">Check out the vanilla JS version of the greeting</a>
    <hr>

    <h1>Greeting!</h1>
    <input type="text" ng-model="name" ng-init="name='Barbara Walker'" autofocus="true" placeholder="What is your name?">
    <h2>Hi, my name is {{name}}</h2>
    <hr>

    <h1>Select your favorite pet</h1>
    <select ng-model="animal" class="" name="">
      <option value="cats">Cats</option>
      <option value="dogs">Dogs</option>
      <option value="bunnies">Bunnies</option>
      <option value="chickens">Chickens</option>
      <option value="pigeons">Pigeons</option>
      <option value="some other kind of animal">Something Else</option>
      <option value="not having animals">None</option>
    </select>
    <h3>I love {{animal}}</h3>
    <hr>

    <h1>Filters</h1>
    <h3>How much is that pi in China? {{3.14159 | currency: '¥ '}}</h3>
    <br>
    <input type="text" ng-model="secret" placeholder="Tell me a secret...">
    <h3>Yelling your secret: {{secret | uppercase}}</h3>
    <h3>Whispering your secret: <i>{{secret | lowercase}}</i></h3>
    <br>
    <h3>rounding:</h3>
    <ul>
      <li>Round to three: {{3.14159265359 | number:3}}</li>
      <li>Round to six:   {{3.14159265359 | number:6}}</li>
      <li>Round to one:   {{3.14159265359 | number:1}}</li>
    </ul>

  </body>
</html>
